#progress-container {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#weight-container {
    display: flex;
    gap: 40px 10px;
    height: auto;
    width: 90%;
    margin-left: 5%;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    transition: transform 0.2s ease-in-out; 
}

.item:hover {
    transform: scale(1.25); 
    border: 1px solid #ddd;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.item:hover span {
    background-color: white;
    z-index: 1;
    width: 100%;
    text-align: center;
    border-radius: 0 0 6px 6px;
}

.weight-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 250px;
    height: 200px;
}

.weight-item img {
    width: 100%;
    height: 200px;
    border-radius: 6px;
    object-fit: cover;
}

@media (max-width: 768px) {
    #progress-container {
        padding: 10px;
        width: 90%;
    }

    #weight-container {
        justify-content: start;
    }
    .weight-item {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap; 
        text-align: center;
        height: 100px;
        width: 150px;
        gap: 10px;
        margin-bottom: 30px;
    }

    .weight-item img {
        height: 100px;
    }

    .graph-container {
        margin: 10px;
        height: 300px;  
    }
}

@media (max-width: 480px) {
    #weight-container {
        gap: 10px;
        width: 100%;
    }

    .weight-item {
        width: 45%;
        height: 150px;
        margin-bottom: 0px;
    }
}